﻿
<div class="history-block">
  @{
      ViewBag.Title = "History";
      Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @using RandomImage.Models
    @model List<RandomImage.Models.Vote>

    <h2>History</h2>

    @foreach (Vote v in Model)
    {

        <div class="@v.IsLike.ToString()"><a href="@v.Photo.LargeUrl"><img src="@v.Photo.LargeSquareThumbnailUrl" /></a></div>


    }  
</div>
