﻿@model RandomImage.Models.Vote


        <h1>Random flickr image:</h1>
        
        <div class="imagewrapp">
            <img ng-src="{{imageurl}}"
                 ng-class="{'opacity' : whenLoading}"
                 class="current-image" />
            <img class="loader" src="~/Content/loader.gif" ng-show="whenLoading" />          
            
            <div class="message" ng-show="message" ng-bind="message"></div>
        </div>
        

<div class="settings">
    <div class="next-image">
        <i class="fa fa-refresh" aria-hidden="true" ng-click="GetNewImage()"></i>
    </div>
    <div class="votes">
        <div ng-click="DoVote(true)">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like
        </div>
        <div ng-click="DoVote(false)">
            <i class="fa fa-thumbs-down" aria-hidden="true"></i> Dislike
        </div>
        
    </div>    
</div>       

        


        
        @*@Html.HiddenFor(m => m.User.UserId)
        @Html.HiddenFor(m => m.User.Name)

        @using (Html.BeginForm("vote", "api/image", FormMethod.Post))
        {
 
            @Html.HiddenFor(m => m.Photo.LargeSquareThumbnailUrl)
            @Html.HiddenFor(m => m.Photo.LargeUrl)
            @Html.HiddenFor(m => m.Photo.PhotoId)
            @Html.HiddenFor(m => m.Photo.ThumbnailUrl)

            <input type="hidden" name="IsLike" id="IsLike" value="true" />
            <input type="submit" value="Like" />
        }
               
        
        @using (Html.BeginForm("Dislike", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.HiddenFor(m => m.Photo.LargeSquareThumbnailUrl)
            @Html.HiddenFor(m => m.Photo.LargeUrl)
            @Html.HiddenFor(m => m.Photo.PhotoId)
            @Html.HiddenFor(m => m.Photo.ThumbnailUrl)

            <input type="hidden" name="IsLike" id="IsLike" value="false" />
            <input type="submit" value="Dislike" />
        }*@
