﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #333;
}

h1 {
    text-align: center;
    font-weight: 100;
}

.navbar {
    height: 50px;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

.navbar ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar li {
    list-style: none;
    display: inline-block;
    height: 50px;
    margin: 0;
    padding: 0;
}

.navbar li:nth-child(3) {
    float: right;
}

.navbar li a{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: #ffffff;
}

.body-content{
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
}


    .navbar li a:hover {
        background: white;
        color: #333;
    }


.container {
    max-width: 960px;
    margin: 0 auto;
}


.imagewrapp {
    max-height: 500px;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
}

.imagewrapp img {
    transition: all 1s ease;
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 100% !important;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.imagewrapp img.opacity {
    opacity: 0;
}

.imagewrapp .loader {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.settings {
    overflow: hidden;
    margin: 20px 0px;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}

.settings a {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 20px 0px;
    font-size: 1.5em;
    text-decoration: none;
    color: #333;
}

.settings .votes div {
    display: inline-block;
    background: blue;
    color: #fff;
    width: 120px;
    text-align:center;
    margin: 0 10px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.5s ease;
    border-radius: 3px;
}

.settings .votes div:nth-child(1) {
    background: green;
}

.settings .votes div:nth-child(2) {
    background: red;
}

    .settings .votes div:hover {
        opacity: 1;
    }

.settings .votes div i {
    color: #ffffff;
}

.settings .next-image {
    text-align: center;
    margin: 0 0 40px 0px;
}

.settings .next-image i {
    color: #333;
    font-size: 4em;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.5s ease;
}

    .settings .next-image i:hover {
        opacity: 1;
    }

.message {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 5;
    font-size: 5em;
    color: #fff;
    top: 40%;
    text-shadow: 2px 2px 10px #333;
}

.history-block{
    margin: 50px 0px;
}

.history-block div {
    display: inline-block;
    width: 24%;
    text-align: center;
    margin-bottom: 40px;
    overflow: hidden;
}

.history-block div a {
    position: relative;
    display: inline-block;
}

.history-block div.True a:after {
    content: "\f164";
    font-family: FontAwesome;
    display: inline-block;
    top: 0px;
    right: 0px;
    height: 20px;
    background: green;
    position: absolute;
    color: #fff;
    line-height: 20px;
    padding: 5px;
}

.history-block div.False a:after {
    content: "\f165";
    font-family: FontAwesome;
    display: inline-block;
    top: 0px;
    right: 0px;
    height: 20px;
    background: red;
    position: absolute;
    color: #fff;
    line-height: 20px;
    padding: 5px;
}


@media screen and ( max-height : 768px ) {
    .imagewrapp {
        max-height: 300px;
        min-height: 300px;
    }
}


@media screen and (max-width: 960px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .history-block div {
        width: 49%;
    }

    .settings {
        margin-left: 0;
        transform: translate(0,0);
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .settings .next-image {
        display: inline-block;
        bottom: 0;
        left: 50%;
        position: absolute;
        margin: 0;
        transform: translateX(-50%);
    }

    .settings .next-image i {
        font-size: 2.5em;
    }

     .settings .votes div:nth-child(1) {
         float: left;
     }
     .settings .votes div:nth-child(2) {
         float: right;
     }
}

@media screen and (max-width: 320px) {
    .history-block div {
        width: 100%;
    }

    h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 568px) and (orientation: landscape) { 
    .history-block div {
        width: 49%;
    }

    h1 {
        font-size: 1.5em;
    }

    .settings {
        margin-left: 0;
        transform: translate(0,0);
        width: 100%;
    }

     .settings .votes div:nth-child(1) {
         float: left;
     }
     .settings .votes div:nth-child(2) {
         float: right;
     }

     .settings .next-image i {
         font-size: 3em;
     }

}

